body{
    display: flex;
    flex-direction: column;
    margin:0;
    font-family:'Roboto';
    min-height: 100vh;
}

header {
    margin: 5px 0px;
    padding: 10px 5px;
 }

 .encabezado{
    display: flex;
    justify-content: flex-end;
 }

 .opciones-encabezado{
    padding: 15px;
    margin: 10px;
    font-size: 14px;
}

 #gmail, #imagenes{
    margin: 0 5px;
 }

 .botones-encabezado{
    padding: 5px;
    margin: 5px;
}

 #boton{
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: none;
}

#boton:hover{ 
    background-color: rgb(218, 213, 213);
    border-radius: 50%;
}

 main{
    margin: 20px 0px;
    padding: 25px 5px;
 }

 #gmail:hover{
    border-bottom: 1px solid;
 }

 #imagenes:hover{
    border-bottom: 1px solid;
 }

#iniciar-sesion:hover{ 
    background-color: rgb(11, 71, 182);
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#iniciar-sesion{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border-color:transparent;
    text-align: center;
    background:rgb(15, 93, 238);
    color:white;
    font-size: 15px;
    width: 135px;
    
    
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}

.logo-google{
    text-align: center;
    margin: 25px 0px;
    padding: 20px 0px;
}

#menu{
    width: 15px;
    height: 15px;
}

i{
    width: 30px;
    padding: 12px;
}


#input-search{
    display: flex;
    justify-content:space-between;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: auto;
    max-width: 584px;
}

#input-search:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}


#imagen-busqueda{
    width: 30px;
    height: 30px;
    padding:  5px;
   
}

#voz-busqueda{
    width: 30px;
    height: 30px;
    padding: 3px;
}

.btn-search{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

footer{
    margin-top: auto;
    background-color:#f2f2f2;;
}

.pais{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #202124;
}

.footer-enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-enlaces-a{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 15px 30px;
    font-size: 15px;
    color: #202124;
}

.footer-enlaces-a > a{
    margin: 0 5px;
    padding: 10px;
    display: inline-block;
}

@media (min-width:1000px){
    .footer-enlaces{
        justify-content: space-between;
    }
}


